<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cuentaAhorros.css">
    <title>Cuentas De Ahorros</title>
</head>

<body>
    <header>
        <img src="IMG/CBNormal.jpg">
        <div class="tituloContenedor">
            <h1 class="tituloBanco"> <button class="botonPrincipal" id="paginaPrincipal" onclick="irAPrincipal()"></button>Capital Bank</h1>
        </div>
        <p class="slogan">Tu banco de confianza</p>
        <button class="botonLogin" id="loginBoton" onclick="irALogin()">Inicio / Registro</button>
    </header>

    <div class="barraNavegador">
        <nav>
            <ul>
                <div class="botonesBarraNavegador">
                    <button class="boton" id="cuentasDeAhorroBoton" onclick="irACuentasAhorro()"> <b>Cuentas De Ahorro</b></button>
                    <span></span>
                    <button class="boton" id="serviciosBoton" onclick="irAServicios()"> <b>Servicios</b></button>
                    <span></span>
                    <button class="boton" id="lineasDeCreditoBoton" onclick="irALineasCredito()"> <b>Lineas De Credito</b></button>
                    <span></span>
                    <button class="boton" id="tarjetasDeCreditoBoton" onclick="irATarjetasCredito()"> <b>Tarjetas De Credito</b></button>
                    <span></span>
                    <button class="boton" id="segurosBoton" onclick="irASeguros()"> <b>Seguros</b></button>
                    <span></span>
                    <button class="boton" id="empresasBoton" onclick="irAEmpresas()"> <b>Empresas</b></button>
                </div>
            </ul>
        </nav>
    </div>
    <script src="/capitalBank/views/js/Script.js"></script>
    <footer></footer>
</body>

</html>